<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Merlion.PageTest</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contract">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Contract
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="imgtest">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customer">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Report
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="materialcat">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Material Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="materialmaster">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Material Master
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="truckbay">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Truck Bay
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bom">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bill of Material
            </NavLink>
        </div>
    </nav>
</div>

